html, body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.left {
  float: left;
}

header,
footer {
  width: 100%;
  padding: 10px;
  background: #141414;
  color: #fff;
  box-sizing: border-box;
}

content {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

nav a {
  margin: 10px 10px 10px 0;
}