html, body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button {
    background: none;
    outline: none;
    border: 1px solid #82FF23;
    padding: 10px 20px;
    border-radius: 5%;
    cursor: pointer;
}

.header,
.header--secondary,
.footer {
  width: 100%;
  padding: 10px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
}

.header {
  background: #000 url(frequencies.jpg) no-repeat center center;
  min-height: 100px;
  background-size: 110% 100%;
}

.header--secondary {
  border-top: 1px solid #82FF23;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
}

.header--secondary nav a {
  margin: 10px 10px 10px 0;
  text-transform: uppercase;
  color: #fff;
}

.header--secondary nav a.active {
  color: #82FF23;
}

/* make this with flexbox */
.footer {
  position: fixed;
  bottom: 0;
}

