<div class="track flex">
  <div class="track__image mlr-10">
    <img [src]="track.album.images[0].url" alt="track cover" />
  </div>     
  <div class="track__info mlr-10">
    <div class="track__name bold">{{track.name}}</div>
    <div class="track__album">Album: {{track.album.name}}</div>
    <div class="track__artist">Artist: {{track.artists[0].name}}</div>
  </div>
  <div class="track__mood mlr-10" title="">
    <img class="v-align-middle" src="assets/moods/happy.png" alt="" title="mood" />
  </div>
  <div class="track__listening mlr-10" title="plays count">
    <span class="v-align-middle track__plays-counter">{{playsConter}} plays</span>
    <img class="v-align-middle" src="assets/speaker.png" alt="" />
  </div>
  <div class="track__buttons mlr-10">
    <button type="button" 
            (click)="playTrack(trackIframe)"
            *ngIf="trackUri == undefined"
            class="track__play-button"
            title="play"></button>
    <iframe #trackIframe 
            width="80" 
            height="80" 
            frameborder="0" 
            allowtransparency="true"></iframe>
  </div>
</div>
