.user {
  &__photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    vertical-align: middle;
  }

  &__name {
    display: none;
    vertical-align: middle;
    margin-right: 10px;
  }
}

@media (min-width: 48em) {
  .user {
    &__name {
      display: inline;
    }
  }
}
