.track {
  background: #000;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 3px;
  align-items: center;
  border-radius: 5px;
  box-shadow: inset -11px -4px 30px -6px rgba(26, 25, 26, 1);

  &--selected {
    border: 1px solid #2ebd59;
  }

  &:hover {
    background: #2b2e2c;
  }

  &__image img {
    width: 50px;
    height: 50px;
  }

  &__info {
    width: 60%;
  }

  &__name {
    color: #2ebd59;
  }

  &__album,
  &__artist {
    font-size: 12px;
  }

  &__buttons {
    button {
      border: 0;
      outline: none;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }

  &__play-button {
    background: url('assets/play-button.png') no-repeat 0 0;
  }

  &__pause-button {
    background: url('assets/pause-button.png') no-repeat 0 0;
  }

  &__plays-counter {
    color: #2ebd59;
  }

  &__mood {
    position: relative;
  }
}
