<app-spinner [isRunning]="isDataLoading"></app-spinner>
<div class="content">
    <app-tiles-list [title]="'Featured Playlists'"
                    [playlists]="playlists"
                    [canFollowPlaylistItem]="true"
                    [isFolowing]="isFolowing"
                    (onPlaylistListFollowButtonClicked)="followPlaylist($event)"
                    (onPlaylistListUnfollowButtonClicked)="unfollowPlaylist($event)">
    </app-tiles-list>

    <!--<app-catalog-list [title]="'New Released Albums'"
                    [playlists]="albums"
                    [canFollowPlaylistItem]="true"
                    [isFolowing]="isFolowing"
                    (onPlaylistListFollowButtonClicked)="followPlaylist($event)"
                    (onPlaylistListUnfollowButtonClicked)="unfollowPlaylist($event)">
    </app-catalog-list>-->
</div>

