.playlist__info {
    margin-right: 30px;
    padding-right: 30px;
    padding-left: 20px;
    border-right: 1px solid #2d613c;
    color: #fff;
}

.playlist__cover {
    max-width: 300px;
    max-height: 300px;
}

.playlist__tracks {
    width: 100%;
    height: 650px;
    margin-right: 20px;
    overflow: auto;
}