/* Common */
html, body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-size: 20px;
}

/* Helpers */
.hidden {
  display: none;
}

.opacity-0 {
  opacity: 0
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.v-h-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-align-middle {
  vertical-align: middle;
}

.left {
  float: left;
}

.right {
  float: right;
}

.m-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.overflow {
  overflow: hidden;
}

/* elements */
.button {
    background: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5%;
    cursor: pointer;
    border: 1px solid #82FF23;
    background: #2EBD59;
    color: #fff;
}

.header nav a {
  margin: 10px 10px 10px 0;
  font-size: 18px;
  color: #fff;
}

.header nav a.active {
  color: #2EBD59;
}

.content {
    padding: 10px 10px 50px 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}