<app-spinner [isRunning]="isDataLoading"></app-spinner>
<app-header>
    <app-userbox [user]="user"
                 class="right"></app-userbox>
    <nav>
        <a routerLink='/recommended' 
            routerLinkActive="active">
            Recommended
        </a>
        <a routerLink='/my-playlists' 
           routerLinkActive="active">
            My Playlists
        </a>
        <a routerLink='/catalog/my-top' 
           routerLinkActive="active">
            My Top
        </a>
    </nav>
</app-header>
<router-outlet></router-outlet>